/* font-family: 'Open Sans', sans-serif; */
/* general */
#holder, main, footer {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 20px;
}
/* cabecera */
header {
    background-color: black;
    height: 100px;
}

#imagen1{
  padding: 18px;
  box-sizing: border-box;
}
#imagen2{
  padding: 44px;
  box-sizing: border-box;
}
header div h2 {
  float: right;
  color: #f4f4f4;
  padding: 16.5px;
  box-sizing: border-box;
  font-weight: 100;
}
/* navegador */
nav div div ul li a:hover{
  background-color:darkgray;
}
nav div div ul li a:active{
  background-color:darkgray;
}
/* menu  */

/* pie de pagina */
#pie{
  margin-right: 20px;
  clear: both;
}
/* nosotros */
#txt1{
width:auto;
}
#contenedor{
  display: flex;
margin-top: 25px;
}